<div>
  <div class='title-wrap'>
    <h3>My Portfolio</h3>
    <div class="refresh-rate-wrapper">
      <div class="refresh-rate-title">Refresh Rate (seconds)</div>
      <app-up-down-number [refreshRateValue]="refreshRate$ | async"
                          (change)="onRefreshRateChange($event)"></app-up-down-number>
    </div>
  </div>
  <mat-card class="card" *ngFor="let stock of (stocks$ | async) | sortBy:'3. volume'">
    <mat-card-title>
      Stock: {{stock['1. symbol']}}
    </mat-card-title>
    <mat-card-content>
      <div class="top">
        <div>Price: {{stock['2. price'] ? '$' + stock['2. price'] : ''}}</div>
        <div>Volume: {{stock['3. volume'] && stock['3. volume'] !== '--' ? '$' + stock['3. volume'] : 'N/A'}}</div>
      </div>
      <div class="bottom">
        <div>{{stock.lastUpdate}}</div>
        <button (click)="removeStock(stock['1. symbol'])">Remove</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
