:host {
  .title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-weight: bold;
    }

    .refresh-rate {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      width: 56%;
    }
  }

  .mat-card {
    border: 1px solid rgba(8,24,78,0.51);;
    padding: 0;
    margin: 5px 0;

    .mat-card-title {
      background-color: rgba(8,24,78,0.51);
      color: white;
      padding: 5px;
    }

    .mat-card-content {
      display: flex;
      flex-direction: column;
      padding: 5px;
      height: 50px;
      justify-content: space-between;

      .top {
        display: flex;
        justify-content: space-between;
      }

      .bottom {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
