:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  margin-bottom: 5px;
  margin-left: 30px;
  width: 20%;

  button {
    margin-top: 5px;
    width: 100%;
    max-width: 150px;
  }
}
